.health-records {
    display: inline;
    
}
.display {
    display: flex;
    justify-content: space-between;
   
}
.log__pet-name{
    font-size: 13px;
    margin: auto 0;
    color: var(--color-headings);
    font-family: var(--main-font);
}
    

.logs__pet-name {
    width: 50%;
    margin: auto 0;
    font-size: 13px;
    color: var(--color-headings);
    font-family: var(--main-font);
}

.add-btns {
    display: flex;
    justify-content: flex-end;
    width: 55%;
    margin: auto 0;
}


.prescription {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
}
.log {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    margin-left: 3px;
    padding: 3px;
    font-size: 10px;
    cursor: pointer;
}
.paragraph {
    font-size: 14px;
}
.btn.logs{
    display: block;
    cursor: pointer;
    font-size: 10px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    border-radius: 3px;
    padding: 3px;
}
.btn.presc{
    display: block;
    margin-left: 5px;
    cursor: pointer;
    font-size: 10px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    border-radius: 3px;
    padding: 3px;
}
.filters-block {
    display: flex;
    margin: 5px 0 10px 0;
}
.wrapper-log{
    text-align: center;
}
.log-info {
    border: 1px solid #eee;
    margin-top: 10px;
}

.med-name {
    margin: 10px 0;
}
.med-desc {
    margin: 10px 0;
    font-family: var(--main-font);
}
.presc-date {
    margin: 5px 0;
}
.presc-comment {
    margin: 5px 0;
    font-family: var(--main-font);
}
.log-status {
    margin: 5px 0;
}
.log-description {
    margin: 5px 0;
    font-family: var(--main-font);
}
@media screen and (min-width: 576px){
    h2 {
        font-size: 25px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .log__pet-name, .logs__pet-name, .paragraph {
        font-size: 20px;
    }
    .prescription, .log, .btn.logs, .btn.presc {
        font-size: 13px;
    }
}
@media screen and (min-width: 1000px) {
    .wrapper-log {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
    }
    
}
@media screen and (min-width: 1300px) {
    .wrapper-log {
        grid-template-columns: repeat(3, auto);
        gap: 10px;
    }
}